:root {
    --primary: #002d5b;
    --accent: #f4b400;
    --bg: #f9f9f9;
    --text: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}