:root {
    --primary: #002d5b;
    --accent: #f4b400;
    --bg: #f9f9f9;
    --text: #333;
}

::selection {
  background-color: var(--accent);
  color: #000;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}


/* Scrollbar personnalisée*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
